@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* For Webkit browsers like Chrome/Safari */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* For IE/Edge */
body {
  -ms-overflow-style: none;
}